:root{
   
    /* fontes */
    
    ---fonte_principal: 'Poppins', sans-serif;
    ---fonte_secundaria: 'IBM Plex Sans', sans-serif;
    ---fonte_tecearia: 'Poppins', sans-serif;

    /* cores */

    ---azul: #3772FF;
    ---verde: #36D6AD;
    ---coral: #FC7071;
    ---creme: #FCF0E3;
    ---cinza: #737380;
    ---cinza_claro: #BCBCBC;
    ---cinza_escuro: #F6F6F6;
    ---branca: #ffffff;

    /* imagens */

    ---forma1: url(imagens/Forma\ 1.png);
    ---forma2: url(imagens/Forma\ 2.png);
    ---forma3: url(imagens/forma3.png);
    ---patas:  url(imagens/Patas.png);
    ---logo_azul: url(imagens/logoazul.png);

    
}
    




body{

    background-color: var(---branca);
    background-image: var(---patas),  var(---forma1), var(---forma3);
    background-position: right top, left top, left 368px;
    background-repeat: no-repeat;
    min-height: 100vh;
}



.cabeçalho{
    padding: 2em;
    height: 2vh;
   
}


.conteudo{
    text-align: center;
    font-family: var(---fonte_principal);
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    height: 80vh;

}

.conteudo_logo{ 
    margin: 42px;
    padding-top: 20px;
    
    
}


.conteudo_texto{
    display: inline-block;
    color: var(---azul);
    padding: 10px;
    width: 300px;
}


.formulario{
    margin: 30px;

}



.label_input{
    display: block;
    font-family: var(---fonte_principal);
    font-size: 1rem;
    margin-top: 18px;
    
}


.input_formulario{
    border-radius: 5px;
    width: 300px;
    height: 30px ;

}


.cadastrar{
    width: 88px;
    display: inline-block;
    background-color: var(---coral);
    border-radius: 5px;
    text-align: center;
    font-family: var(---fonte_tecearia);
    font-size: 16px;
    text-decoration: none;
    padding: 10px;

}


.rodape{

    color: var(---branca);
    font-family: var(---fonte_principal);
    font-size: 16px;
    text-align: center;
    background-color: var(---verde);
    padding: 3em;
}