:root{
   
    /* fontes */
    
    ---fonte_principal: 'Poppins', sans-serif;
    ---fonte_secundaria: 'IBM Plex Sans', sans-serif;
    ---fonte_tecearia: 'Poppins', sans-serif;

    /* cores */

    ---azul: #3772FF;
    ---verde: #36D6AD;
    ---coral: #FC7071;
    ---creme: #FCF0E3;
    ---cinza: #737380;
    ---cinza_claro: #BCBCBC;
    ---cinza_escuro: #F6F6F6;
    ---branca: #ffffff;

    /* imagens */

    ---forma1: url(imagens/Forma\ 1.png);
    ---forma2: url(imagens/Forma\ 2.png);
    ---forma3: url(imagens/forma3.png);
    ---patas:  url(imagens/Patas.png);
    ---logo_azul: url(imagens/logoazul.png);

    
}




body{

    background-color: var(---branca);
    background-image: var(---patas),  var(---forma1), var(---forma3);
    background-position: right top, left top, left 23rem;
    background-repeat: no-repeat;
    min-height: 100vh;
}



.cabeçalho{
    padding: 2em;
    height: 2vh;
   
}



.conteudo_main{
    text-align: center;
    font-family: var(---fonte_principal);
    font-size: 1rem;
    min-height: 80vh;
}





.conteudo_logo{
    margin: 2.7rem;
    padding-top: 2rem;
}


.conteudo_texto{
    color: var(---azul);
    margin-top: 1.5rem;
}



.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.label_input{
    margin-top: 2.5rem;
    margin-bottom: 0.7rem;

    
}

.input_formulario{
    text-align: center;
    width: 18.75rem;
    background-color: var(---cinza_escuro);
    border: none;
    box-shadow: 1px 1px 1px #BCBCBC;
    border-radius: 5px;
    padding: 0.625rem;

}


.buton{
    display: flex;
    flex-direction: column;
}

.esqueci_senha{
    color: var(---coral);
    font-size: 0.75rem;
    margin-top: 1rem;

}

.entrar{
    background-color: var(---coral);
    border-radius: 6px;
    width: 9.25rem;
    padding: 1rem;
    font-family: var(---fonte_tecearia);
    font-size: 1rem;
    color: var(---branca);
    text-decoration: none;
    margin: 3rem auto;

}



.rodape{

    color: var(---branca);
    font-family: var(---fonte_principal);
    font-size: 16px;
    text-align: center;
    background-color: var(---verde);
    padding: 3em;
}